* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgba(19, 30, 37);
    font-family: "Architects Daughter", cursive;
    /* font-family: 'Righteous', cursive; */
  }
  .container {
    text-align: center;
  }
  
  .head {
    color: wheat;
    font-size: 60px;
    padding: 100px;
  }
  .text {
    align-items: center;
    font-size: 10px;
    margin-bottom: 100px;
  }
  .text h2 {
    margin: 50px;
  }
  
  .btn a {
    display: inline-block;
    width: 100px;
    color: white;
    background-color: burlywood;
  }
  
  .project-section {
    text-decoration: underline;
    color: white;
    margin-bottom: 80px;
  }
  .button {
    text-decoration: none;
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    margin-right: 10px;
    font-size: 20px;
  }
  .button:hover {
    opacity: 0.4;
    color: brown;
  }
  h3 {
    font-size: 40px;
    color: white;
  }
  h2 {
    font-size: 20px;
    color: white;
  }
  .image img {
    width: 400px;
    /* height: 500px; */
    display: inline;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  .image img:hover {
    opacity: 0.5;
  }
  
  .contact {
    color: antiquewhite;
    display: inline;
    font-size: 25px;
    padding-left: 40px;
  }
  .contact:hover {
    color: brown;
  }
  .contact-me {
    margin: 60px;
  }
  .input-text {
    align-items: center;
  }
  .form-input {
    background-color: rgba(19, 30, 37);
    border-radius: 5px;
    border: 2px solid antiquewhite;
    width: 450px;
    margin-bottom: 20px;
    font-family: "Architects Daughter", cursive;
    font-size: 20px;
    text-align: center;
  }
  input:focus{
      border: 2px solid brown;
  }
  
  .input-width {
    padding: 8px;
  }
  .button-color {
    background-color: antiquewhite;
    padding: 10px;
  }
  .button-color:hover {
    font-size: 25px;
    color: brown;
  }
   .to-top{
    text-decoration: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    background-color:darkcyan;
    float: right;
   
   }